<% include ../partials/head%>

<body>
    <%- include ../partials/navBar%>
    <section id="show-page">
        <div> <%= recipe.name %> </div>
            <form action="/recipes/<%=recipe._id%>/ingredients" method="POST">
        
        <label>Ingredients:
            <select name="id">
                <% ingredients.forEach(function(i) { %>
                <option value="<%= i._id %>"><%= i.name%></option>
                <% }) %>
            </select>
        </label>
            <input type="submit" value="Add Ingredient">
        </form>

    </section>
    
    <%- include ../partials/footer%>
</body>

</html>